<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tin tức và Truyện cổ tích</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div class="menu-toggle" id="hamburger">
        <i class="fas fa-bars"></i>
    </div>
    <div class="overlay"></div>
    <div class="container">
        <nav class="sidebar">
            <h2>Menu</h2>
            <ul>
                <li><a href="#" id="news-link">Đọc báo</a></li>
                <li><a href="#" id="fairy-tales-link">Đọc truyện</a></li>
            </ul>
        </nav>
        <main>
            <header>
                <h1>Cổng Thông Tin Tin Tức và Truyện Cổ Tích</h1>
            </header>
            <div id="content">
                <div id="article-container"></div>
                <div id="error-container"></div>
                <div id="fairy-tales-container" style="display: none;">
                    <h2>Truyện Cổ Tích</h2>
                    <ul id="fairy-tales-list"></ul>
                </div>
                <div id="fairy-tale-content" style="display: none;">
                    <div class="fairy-tale-header">
                        <h2 id="fairy-tale-title" class="fairy-tale-title"></h2>
                        <h2 id="fairy-tale-english-title" class="fairy-tale-title"></h2>
                    </div>
                    <div class="fairy-tale-author-container">
                        <p><em id="fairy-tale-author" class="fairy-tale-author"></em></p>
                        <p><em id="fairy-tale-english-author" class="fairy-tale-author"></em></p>
                    </div>
                    <div class="bilingual-content">
                        <div class="vietnamese-content">
                            <h3 class="language-title">Tiếng Việt</h3>
                            <div id="fairy-tale-content-vi" class="fairy-tale-text"></div>
                        </div>
                        <div class="english-content">
                            <h3 class="language-title">English</h3>
                            <div id="fairy-tale-content-en" class="fairy-tale-text"></div>
                        </div>
                    </div>
                    <button onclick="showFairyTalesList()" class="back-button">Quay lại danh sách</button>
                </div>
            </div>
        </main>
    </div>
    <footer>
        <p>&copy; 2023 Cổng Thông Tin Tin Tức và Truyện Cổ Tích. Bảo lưu mọi quyền.</p>
    </footer>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
